<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'home' %}" class="nav-link px-2 {% if request.resolver_match.url_name == 'home' %}link-secondary{% else %}link-body-emphasis{% endif %}">PromptLab</a></li>
                <li><a href="{% url 'prompt_list' %}" class="nav-link px-2 {% if request.resolver_match.url_name == 'prompt_list' %}link-secondary{% else %}link-body-emphasis{% endif %}">Prompts</a></li>
                <li><a href="{% url 'ml_model_list' %}" class="nav-link px-2 {% if request.resolver_match.url_name == 'ml_model_list' %}link-secondary{% else %}link-body-emphasis{% endif %}">Models</a></li>
                <li><a href="{% url 'dataset_list' %}" class="nav-link px-2 {% if request.resolver_match.url_name == 'dataset_list' %}link-secondary{% else %}link-body-emphasis{% endif %}">Datasets</a></li>
                <li><a href="{% url 'experiment_list' %}" class="nav-link px-2 {% if request.resolver_match.url_name == 'experiment_list' %}link-secondary{% else %}link-body-emphasis{% endif %}">Experiments</a></li>
            </ul>
            <div class="dropdown text-end">
                {% if user.is_authenticated %}
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-person-circle"></i> {{ user.username }}
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item">Logout</button>
                            </form>
                        </li>
                    </ul>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-primary">Login</a>
                {% endif %}
            </div>
    </div>
</header>