{% extends 'base.html' %}
{% load static %}
{% block title %}ML Model Detail{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>{{ ml_model.name }}</h2>

            <div>
                <a href="{% url 'ml_model_update' ml_model.pk %}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i> Edit</a>
                <a href="{% url 'ml_model_delete' ml_model.pk %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Delete</a>
            </div>
        </div>
    <div class="float-left">
        <div class="row justify-content-start">
            <div class="col-2">Tags: {{ ml_model.tags }}</div>
            <div class="col-2">Parameters: {{ ml_model.parameters }}</div>
            <div class="col-2">Size: {{ ml_model.size }}</div>
            <div class="col-2">Version: {{ ml_model.version }}</div>
        </div>
    </div>
        <p class="text-muted">{{ ml_model.creator.username}} <span class="ml-3">Created: {{ ml_model.created_at|date:"d.m.Y" }}</span> <span class="ml-3">Last Modified: {{ ml_model.updated_at|date:"d.m.Y" }}</span></p>
        <div class="mb-4">{{ ml_model.description }}</div>
        <h5 class="mb-3">Rating</h5>
        <div>
            {% for i in "12345" %}
                {% if i <= ml_model.rating|stringformat:"d" %}
                    <i class="bi bi-star-fill"></i>
                {% else %}
                    <i class="bi bi-star"></i>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
